#bocnyPanel,.obal-kniznice{border:0!important;background:rgba(112,142,142,.20)!important;backdrop-filter:blur(5px)!important;-webkit-backdrop-filter:blur(5px)!important;box-shadow:none!important}
.obal-kniznice{z-index:16!important;isolation:isolate}
.polozka-kniznice{background:rgba(255,255,255,.8)!important}
#bocnyPanel .karta{border:0!important;background:rgba(255,255,255,.8)!important}
#bocnyPanel .obsah-zalozky,#bocnyPanel .zalozky-panelu{background:transparent!important}
.akcie-projektu{grid-template-columns:1fr}
